*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri , 'Trebuchet MS', sans-serif;
}

body{
  background-color: rgb(232,232,232);
  background-image: url("../src//imagens/fundo.jpg");
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 90vh;
  padding-inline: 20px;
}

main section:nth-child(1) {
  width: 800px;
}

#redes-sociais {
  display: flex;
  margin-block: 30px;
  gap: 30px;
}

main section:nth-child(1) button {
  background-color: rgb(28, 28, 28);
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 26px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 200ms linear;
}

main section:nth-child(1) button:hover {
  background-color: rgb(188, 0, 213);
}

section p:nth-child(1) {
  font-size: 2.5rem;
}

section p:nth-child(2) {
  font-size: 4rem;
}

section p:nth-child(2) span {
  color: rgb(188, 0, 213);
}

@media screen and (max-width: 1800px){
  main section:nth-child(1){
    width: 100%;
  }

  section p:nth-child(1){
    font-size: 1.5rem;
  }
  section p:nth-child(1){
    font-size: 3rem;
  }
}

@media screen and (max-width: 805px){
  main{
    flex-direction: column;
  }

  #redes-sociais{
    margin-block: 10px;
  }

  #imagemDev{
    display: none;
  }

  main section:nth-child(1) button{
    font-size: 20px;
    padding: 10px 26px;
  }
}